@using EntityLayer.Concrete
@model List<About>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}

	<!--/main-->
	<section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle">Hakkımızda</h3>
			<div class="row inner-sec">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					<div class="blog-grid-top">

						<div class="blog_info_left_grid">
							<a href="single.html">
								<img src="~/CoreBlogTema/images/b5.jpg" class="img-fluid" alt="">
							</a>
						</div>
						<h3>
							Biz Kimiz & Misyonumuz & Vİzyonumuz
						</h3>
					@foreach(var item in Model)
					{
					<p>
						@item.AboutDetails1
					</p>
					}
						<a href="single.html" class="btn btn-primary read-m">Read More</a>
					</div>
					<div class="row">
						<div class="col-md-6 card mt-3">
						<img class="card-img-top" src="~/CoreBlogTema/images/2.jpg" alt="Card-image">
							<div class="card-body">
								<h5 class="card-title">Lorem ipsum dolor </h5>
								<p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt.. </p>
								<a href="single.html" class="btn btn-primary read-m">Read More</a>
							</div>
						</div>
						<div class="col-md-6 card mt-3">
						<img class="card-img-top" src="~/CoreBlogTema/images/3.jpg" alt="Card-image">
							<div class="card-body">
								<h5 class="card-title">Lorem ipsum dolor </h5>
								<p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt.. </p>
								<a href="single.html" class="btn btn-primary read-m">Read More</a>
							</div>
						</div>
						<div class="col-md-6 card mt-3">
						<img class="card-img-top" src="~/CoreBlogTema/images/2.jpg" alt="Card-image">
							<div class="card-body">
								<h5 class="card-title">Lorem ipsum dolor </h5>
								<p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt.. </p>
								<a href="single.html" class="btn btn-primary read-m">Read More</a>
							</div>
						</div>
						<div class="col-md-6 card mt-3">
						<img class="card-img-top" src="~/CoreBlogTema/images/3.jpg" alt="Card-image">
							<div class="card-body">
								<h5 class="card-title">Lorem ipsum dolor </h5>
								<p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt.. </p>
								<a href="single.html" class="btn btn-primary read-m">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<!--//left-->
				<!--right-->
				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
					<div class="right-blog-info text-left">
						<div class="tech-btm">
						<img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
						</div>
					@await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
					@await Html.PartialAsync("~/Views/About/SocialMediaAbout.cshtml")
					@await Component.InvokeAsync("WriterLastBlog")
					</div>

				</aside>
				<!--//right-->
			</div>
		</div>
	</section>
	<!--//main-->

